body {
    background-color:   #eee;
    font-family: 'Lato', sans-serif;
    color: black;
}


/* Opening Heading */

h1 {
    color: #3b3a38;
    text-align: center;
    margin-bottom: 0;
}

.heading-tagline {
    text-align:center;
    margin-top: 0;
}






/* Main Image  */
figure {
    width: 85vw;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}
img {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    max-height: 800px;
    max-width: 100%;
    border-radius: 20px;
}

figcaption {
    text-align:center;
    padding-bottom: 10px;
    padding-top: 5px;
}





/* Timeline  */
.timeline-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.timeline-list {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    list-style-type: none;
    
}
.timeline-list li {
    text-align:left;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 200;
}



.quote {
    
    border-left: black 4px solid;
    width: 100%;
    max-width: 650px;
    margin: 100px auto 0 auto;
    padding-left: 10px;
    font-size: 32px;
}

.quote-source {
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    margin-right: 30px;
}




/* Footer */
footer {
    margin: 150px auto 50px auto;
    width: 100%;
    max-width: 650px;
    text-align: center;
    font-size: 18px;

}


/* Media Queries */

@media (max-width: 725px) {
    body {
        min-width: 320px;
    }

    img {
        padding-top: 0;
    }

    .timeline-list {
        margin: 0;
        padding-inline-start: 0;
    }

    .quote {
        width: 90%;
        font-size: 22px;
    }

    .quote-source {
        font-size: 18px;
    }

    .timeline-list li {
        font-size: 18px;    
    }
}